*.egg-info
.coverage
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py
.DS_Store
raw_data/
subbmission_data/
*.csv
**/__pycache__/
.env
ey_resources/training_data/
ey_resources/GBIF_training_data.zip
